In [1]:
!which python

//anaconda/envs/spark/bin/python

In [2]:
!python --version

Python 2.7.13 :: Continuum Analytics, Inc.

In [3]:
# make sure SparkContext is loaded 
sc

In [37]:
# load library 
import pandas as pd, numpy as np
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

In [5]:
# load applications  
conf = SparkConf().setAppName("building a warehouse")
#sc = SparkContext(conf=conf)
sqlCtx = SQLContext(sc)

In [7]:
cd NYC_Taxi_Trip_Duration/spark_/

/Users/yennanliu/NYC_Taxi_Trip_Duration/spark_

### 1) Read csv via spark SQL

In [8]:
# read csv via spark SQL  
df_train = sqlContext.read.format('com.databricks.spark.csv')\
						 .options(header='true', inferschema='true')\
						 .load('/Users/yennanliu/NYC_Taxi_Trip_Duration/data/train.csv')

In [30]:
# check data type
df_train.dtypes

[('id', 'string'),
 ('vendor_id', 'int'),
 ('pickup_datetime', 'timestamp'),
 ('dropoff_datetime', 'timestamp'),
 ('passenger_count', 'int'),
 ('pickup_longitude', 'double'),
 ('pickup_latitude', 'double'),
 ('dropoff_longitude', 'double'),
 ('dropoff_latitude', 'double'),
 ('store_and_fwd_flag', 'string'),
 ('trip_duration', 'int')]

In [32]:
# check missing values 
df_train.where( df_train['vendor_id'].isNull() ).count()

0

In [9]:
df_train.show()

+---------+---------+--------------------+--------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|       id|vendor_id|     pickup_datetime|    dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|
+---------+---------+--------------------+--------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|id2875421|        2|2016-03-14 17:24:...|2016-03-14 17:32:...|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|
|id2377394|        1|2016-06-12 00:43:...|2016-06-12 00:54:...|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|
|id3858529|        2|2016-01-19 11:35:...|2016-01-19 12:10:...|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|
|id3504673|        2|2016-04-06 19:32:...|2016-04-06 19:39:...|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429|
|id2181028|        2|2016-03-26 13:30:...|2016-03-26 13:38:...|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|
|id0801584|        2|2016-01-30 22:01:...|2016-01-30 22:09:...|              6|-73.98285675048828| 40.74219512939453|-73.99208068847656|40.749183654785156|                 N|          443|
|id1813257|        1|2016-06-17 22:34:...|2016-06-17 22:40:...|              4| -73.9690170288086| 40.75783920288086|-73.95740509033203| 40.76589584350586|                 N|          341|
|id1324603|        2|2016-05-21 07:54:...|2016-05-21 08:20:...|              1|-73.96927642822266| 40.79777908325195|-73.92247009277344| 40.76055908203125|                 N|         1551|
|id1301050|        1|2016-05-27 23:12:...|2016-05-27 23:16:...|              1|-73.99948120117188|40.738399505615234|-73.98578643798828| 40.73281478881836|                 N|          255|
|id0012891|        2|2016-03-10 21:45:...|2016-03-10 22:05:...|              1|-73.98104858398438| 40.74433898925781| -73.9729995727539| 40.78998947143555|                 N|         1225|
|id1436371|        2|2016-05-10 22:08:...|2016-05-10 22:29:...|              1|-73.98265075683594| 40.76383972167969|-74.00222778320312| 40.73299026489258|                 N|         1274|
|id1299289|        2|2016-05-15 11:16:...|2016-05-15 11:34:...|              4|-73.99153137207031| 40.74943923950195|   -73.95654296875|  40.7706298828125|                 N|         1128|
|id1187965|        2|2016-02-19 09:52:...|2016-02-19 10:11:...|              2|-73.96298217773438| 40.75667953491211|-73.98440551757812|40.760719299316406|                 N|         1114|
|id0799785|        2|2016-06-01 20:58:...|2016-06-01 21:02:...|              1|-73.95630645751953|40.767940521240234|-73.96611022949219| 40.76300048828125|                 N|          260|
|id2900608|        2|2016-05-27 00:43:...|2016-05-27 01:07:...|              1|-73.99219512939453| 40.72722625732422|-73.97465515136719|  40.7830696105957|                 N|         1414|
|id3319787|        1|2016-05-16 15:29:...|2016-05-16 15:32:...|              1|-73.95551300048828|40.768592834472656|-73.94876098632812| 40.77154541015625|                 N|          211|
|id3379579|        2|2016-04-11 17:29:...|2016-04-11 18:08:...|              1|-73.99116516113281| 40.75556182861328| -73.9992904663086|  40.7253532409668|                 N|         2316|
|id1154431|        1|2016-04-14 08:48:...|2016-04-14 09:00:...|              1|-73.99425506591797| 40.74580383300781| -73.9996566772461| 40.72334289550781|                 N|          731|
|id3552682|        1|2016-06-27 09:55:...|2016-06-27 10:17:...|              1|-74.00398254394531|  40.7130126953125|-73.97919464111328| 40.74992370605469|                 N|         1317|
|id3390316|        2|2016-06-05 13:47:...|2016-06-05 13:51:...|              1|   -73.98388671875|40.738197326660156|-73.99120330810547| 40.72787094116211|                 N|          251|
+---------+---------+--------------------+--------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
only showing top 20 rows

In [35]:
#df_grp = df_train.groupBy('vendor_id')
#df_grp.sum('pickup_longitude','dropoff_longitude').show()

In [10]:
df_train.take(4)

[Row(id=u'id2875421', vendor_id=2, pickup_datetime=datetime.datetime(2016, 3, 14, 17, 24, 55), dropoff_datetime=datetime.datetime(2016, 3, 14, 17, 32, 30), passenger_count=1, pickup_longitude=-73.9821548461914, pickup_latitude=40.76793670654297, dropoff_longitude=-73.96463012695312, dropoff_latitude=40.765602111816406, store_and_fwd_flag=u'N', trip_duration=455),
 Row(id=u'id2377394', vendor_id=1, pickup_datetime=datetime.datetime(2016, 6, 12, 0, 43, 35), dropoff_datetime=datetime.datetime(2016, 6, 12, 0, 54, 38), passenger_count=1, pickup_longitude=-73.98041534423828, pickup_latitude=40.738563537597656, dropoff_longitude=-73.99948120117188, dropoff_latitude=40.73115158081055, store_and_fwd_flag=u'N', trip_duration=663),
 Row(id=u'id3858529', vendor_id=2, pickup_datetime=datetime.datetime(2016, 1, 19, 11, 35, 24), dropoff_datetime=datetime.datetime(2016, 1, 19, 12, 10, 48), passenger_count=1, pickup_longitude=-73.9790267944336, pickup_latitude=40.763938903808594, dropoff_longitude=-74.00533294677734, dropoff_latitude=40.710086822509766, store_and_fwd_flag=u'N', trip_duration=2124),
 Row(id=u'id3504673', vendor_id=2, pickup_datetime=datetime.datetime(2016, 4, 6, 19, 32, 31), dropoff_datetime=datetime.datetime(2016, 4, 6, 19, 39, 40), passenger_count=1, pickup_longitude=-74.01004028320312, pickup_latitude=40.719970703125, dropoff_longitude=-74.01226806640625, dropoff_latitude=40.70671844482422, store_and_fwd_flag=u'N', trip_duration=429)]

In [11]:
df_train.registerTempTable("df_train_table")
sqlContext.sql("""
                SELECT id, count(*) 
                FROM df_train_table
                group by 1 
                order by 2 desc 
                limit 10""").show()

+---------+--------+
|       id|count(1)|
+---------+--------+
|id3013319|       1|
|id1622754|       1|
|id2187774|       1|
|id3921267|       1|
|id2795297|       1|
|id0130048|       1|
|id2088360|       1|
|id0454719|       1|
|id2366364|       1|
|id0187208|       1|
+---------+--------+

### 1-1) window

In [42]:
from pyspark.sql import Window
from pyspark.sql.functions import mean

In [41]:
window = Window.partitionBy('id', 'vendor_id')\
               .orderBy('pickup_datetime')\
               .rowsBetween(-3, 3)

window

In [43]:
moving_avg = mean(df_train['passenger_count']).over(window)
moving_avg

Column<avg(passenger_count) OVER (PARTITION BY id, vendor_id ORDER BY pickup_datetime ASC ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING)>

In [45]:
df_window_ = df_train.withColumn('moving_avg', moving_avg)
df_window_.take(3)

[Row(id=u'id0000015', vendor_id=1, pickup_datetime=datetime.datetime(2016, 5, 17, 9, 6, 59), dropoff_datetime=datetime.datetime(2016, 5, 17, 9, 39, 18), passenger_count=1, pickup_longitude=-73.98369598388672, pickup_latitude=40.780948638916016, dropoff_longitude=-73.95437622070312, dropoff_latitude=40.76417541503906, store_and_fwd_flag=u'N', trip_duration=1939, moving_avg=1.0),
 Row(id=u'id0000023', vendor_id=2, pickup_datetime=datetime.datetime(2016, 5, 28, 4, 34, 47), dropoff_datetime=datetime.datetime(2016, 5, 28, 5, 1, 47), passenger_count=1, pickup_longitude=-73.94206237792969, pickup_latitude=40.817779541015625, dropoff_longitude=-73.7889175415039, dropoff_latitude=40.64738845825195, store_and_fwd_flag=u'N', trip_duration=1620, moving_avg=1.0),
 Row(id=u'id0000250', vendor_id=1, pickup_datetime=datetime.datetime(2016, 3, 30, 8, 38, 35), dropoff_datetime=datetime.datetime(2016, 3, 30, 8, 46, 42), passenger_count=1, pickup_longitude=-73.99744415283203, pickup_latitude=40.7363395690918, dropoff_longitude=-73.98930358886719, dropoff_latitude=40.74203109741211, store_and_fwd_flag=u'N', trip_duration=487, moving_avg=1.0)]

### 1-2) pivot

In [53]:
df_pivot1 = df_train.groupby('pickup_datetime')\
                    .pivot('id', values=['passenger_count'])\
                    .sum('dropoff_longitude')
        
df_pivot1

DataFrame[pickup_datetime: timestamp, passenger_count: double]

In [54]:
df_pivot1.take(2)

[Row(pickup_datetime=datetime.datetime(2016, 6, 30, 18, 23, 16), passenger_count=None),
 Row(pickup_datetime=datetime.datetime(2016, 4, 20, 11, 38, 30), passenger_count=None)]

### 2) basic functions

In [14]:
pwd

u'/Users/yennanliu/NYC_Taxi_Trip_Duration/spark_'

In [15]:
df__ = sc.textFile("/Users/yennanliu/NYC_Taxi_Trip_Duration/data/train.csv")
#df__.filter(lambda x: '2124' in x.).collect()

In [16]:
df__.take(5)

[u'id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration',
 u'id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982154846191406,40.767936706542969,-73.964630126953125,40.765602111816406,N,455',
 u'id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415344238281,40.738563537597656,-73.999481201171875,40.731151580810547,N,663',
 u'id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979026794433594,40.763938903808594,-74.005332946777344,40.710086822509766,N,2124',
 u'id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040283203125,40.719970703125,-74.01226806640625,40.706718444824219,N,429']

In [87]:
#protocols = df__.map(lambda x: x[4]).distinct()
#protocols.take(10)
df_train.dtypes

[('id', 'string'),
 ('vendor_id', 'int'),
 ('pickup_datetime', 'timestamp'),
 ('dropoff_datetime', 'timestamp'),
 ('passenger_count', 'int'),
 ('pickup_longitude', 'double'),
 ('pickup_latitude', 'double'),
 ('dropoff_longitude', 'double'),
 ('dropoff_latitude', 'double'),
 ('store_and_fwd_flag', 'string'),
 ('trip_duration', 'int')]

In [88]:
type(df_train)

pyspark.sql.dataframe.DataFrame

In [146]:
xx = df_train.select('id','vendor_id','pickup_datetime').rdd
#xx = df_train.select('vendor_id').rdd
type(xx)

pyspark.rdd.RDD

In [126]:
xx.map(lambda x: x[0] == 'id2875421').take(3)

[True, False, False]

In [136]:
# RDD group 
# https://spark.apache.org/docs/1.1.1/api/python/pyspark.rdd.RDD-class.html#groupBy

result = xx.groupBy(lambda x: x[1] % 2).count()

In [157]:
xx.map(lambda x: x[0]).take(3)
#sorted([(x, sorted(y)) for (x, y) in result])

[u'id2875421', u'id2377394', u'id3858529']

In [159]:
xx.take(5)

[Row(id=u'id2875421', vendor_id=2, pickup_datetime=datetime.datetime(2016, 3, 14, 17, 24, 55)),
 Row(id=u'id2377394', vendor_id=1, pickup_datetime=datetime.datetime(2016, 6, 12, 0, 43, 35)),
 Row(id=u'id3858529', vendor_id=2, pickup_datetime=datetime.datetime(2016, 1, 19, 11, 35, 24)),
 Row(id=u'id3504673', vendor_id=2, pickup_datetime=datetime.datetime(2016, 4, 6, 19, 32, 31)),
 Row(id=u'id2181028', vendor_id=2, pickup_datetime=datetime.datetime(2016, 3, 26, 13, 30, 55))]

In [130]:
xx.map(lambda x: x[1]).take(3)

[2, 1, 2]

In [158]:
#xx.take(10)

In [66]:
df__.map(lambda x: x[0:22]).take(10)

[u'id,vendor_id,pickup_da',
 u'id2875421,2,2016-03-14',
 u'id2377394,1,2016-06-12',
 u'id3858529,2,2016-01-19',
 u'id3504673,2,2016-04-06',
 u'id2181028,2,2016-03-26',
 u'id0801584,2,2016-01-30',
 u'id1813257,1,2016-06-17',
 u'id1324603,2,2016-05-21',
 u'id1301050,1,2016-05-27']

In [77]:
# df__.map(lambda x: x[12:22]).take(10)

df__value = df__.filter(lambda line: line != header)
result = df__value.groupBy(lambda x : x[0:][12:22]).take(10)

In [55]:
header = df__.first()
df__value = df__.filter(lambda line: line != header)
df__value.map(lambda x : x[0:][12:22]).take(10)
print (df__value.map(lambda x : x[0:][12:22]).take(10))

[u'2016-03-14', u'2016-06-12', u'2016-01-19', u'2016-04-06', u'2016-03-26', u'2016-01-30', u'2016-06-17', u'2016-05-21', u'2016-05-27', u'2016-03-10']